<!DOCTYPE html>
<html lang="en" data-theme="cache">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" type="image/vnd.microsoft.icon">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <title>Redirecting...</title>
    <script>
        // JavaScript to redirect to the home page after 3 seconds
        setTimeout(function(){
            window.location.href = "{{ url_for('home') }}";
        }, 3000); // 3 seconds delay
    </script>
</head>
<body>
    <h1>Routing to Home Page...</h1>
<button class="btn">
  <span class="loading loading-spinner"></span>
  You will be redirected shortly.
</button>
</body>
</html>
